.odd {
    background-color: rgba(197, 90, 20, 0.745);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.oddly-cool {
    font-size: 24px;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

#four {
    background-color: hsl(120, 100%, 75%);
    font-size: 24px;
    font-weight: bold;
}